@model Book
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Add A Book To Your Library</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            @using (Html.BeginForm("InsertBookToDatabase", "Books", FormMethod.Post))
            {
                <input asp-for="BookID" type="hidden" value=""/>

                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>

                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control"/>

                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>

                <label asp-for="ImageLink" class="control-label"></label>
                <input asp-for="ImageLink" class="form-control"/>
                
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control"/>
                
                <div class="form-check">
                    <input asp-for="IsOwned" class="form-check-input" />
                    <label asp-for="IsOwned" class="form-check-label"></label>
                </div>

                <div class="form-group">
                    <label>Select a Status</label>
                    <select class="form-control" name="StatusID">
                        @foreach (var status in Model.Status)
                        {
                            <option value="@status.StatusID">@status.StatusName</option>
                        }
                    </select>
                </div>

                <input type="submit" value="Add Book" class="btn btn-primary"/>
            }
        </div>
    </div>
</div>